@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

input,
select,
textarea {
  @apply rounded border p-2 outline-none ring-indigo-300 focus:ring;
};

.card {
  @apply mb-5  block   rounded-lg border border-gray-200  shadow-md;
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}
.primary-button {
  @apply rounded bg-amber-300 py-2 px-4 shadow outline-none hover:bg-amber-400  active:bg-amber-500;
}
.default-button {
  @apply rounded bg-gray-100 py-2 px-4 text-black shadow outline-none hover:bg-gray-200 active:bg-gray-300
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  color: rgb(var(--foreground-rgb));
  font-family: 'Poppins', sans-serif;
}

a {
  /* @apply text-blue-600 hover:text-blue-800 */
}